Sunday, October 27th: 7:00 PM - 10:00 PM Everyone 
Shreya Varma: 7:45 - 8:15 PM, 30 minutes
Garv: 8:15 - 8:45 PM, 30 minutes

Monday, October 28th: 4:30 - 11:30 PM Everyone
Designed for many hours
Garv: 7:10 - 7:40, 30 minutes
Shreya Agrawal: 10:15 - 10:45, 30 minutes
Jyotsna: 11:00 - 11:30, 30 minutes

Tuesday, October 29th: 11:30 AM - 12:30 PM Everyone
Shreya Agrawal: 11:50 AM - 12:20 PM, 30 minutes

Wednesday, October 30th: 4:00 - 7:00 PM Everyone
Designed for 2 hours
Shreya Agrawal: 4:25 - 4:55 PM, 30 minutes 

Thursday, October 31st: 12:00 - 1:00 PM, 8:00 PM - 11:30 PM Everyone

Office Hours, fixed project 2: Shreya Agrawal, 12:00 PM - 12:30 PM

Designed from 8:00 PM - 9:30 PM
Shreya Agrawal: 9:30 PM - 10:00 PM
Designed from 10:00 PM to 11:30 PM

Friday, November 1st: 4:00 PM - 8:00 PM Everyone

Designed from 4:00 PM - 6:30 PM
Jyotsna: 6:30 PM - 7:00 PM
Designed: 7:00 PM - 8:00 PM

Saturday, November 2nd: 1:30 PM - 9:00 PM Everyone

Designed from 1:30 PM - 3:45 PM
Jyotsna: 3:45 PM - 4:15 PM
Designed: 4:15 - 7:00 PM
Shreya Varma: 7:10 PM - 7:40 PM
Break: 7:40 PM - 8:00 PM
Garv: 8:00 PM - 8:30 PM
Designed: 8:30 - 9:00 PM

Sunday, November 3rd: 11:00 AM - 5:00 PM Everyone

Designed: 11:00 AM - 11:30 AM
Shreya Agrawal: 11:30 AM - 12:00 PM
Designed: 12:00 PM - 12:30 PM
Garv Kinariwala: 1:00 PM - 1:30 PM
Designed: 1:30 PM - 2:30 PM
Shreya Varma: 2:30 PM - 3:00 PM
Designed: 3:00 PM - 5:00 PM

Monday, November 4th: 12:45 PM - 4:15 PM Everyone
Forgot to Push from Sunday Nov 3rd
Jyotsna: 12:45 PM - 1:00 PM
Shreya Agrawal: 3:45 PM - 4:15 PM

Tuesday, November 5th: 11:00 AM - 2:00 PM Everyone
Office Hours help
Shreya Varma 11:30 AM - 12:00 PM
Designed: 12:00 PM - 2:00 PM

Wednesday, November 6th: 10:00 PM - 2:00 AM Everyone
Designed 10:00 PM - 11:00 PM
Jyotsna 11:00 PM - 11:25 PM
Garv's computer broke so used Jyotsna's computer
Jyotsna (Garv): 11:30 PM - 12:00 AM
Designed 12:00 AM - 2:00 PM

Thursday, November 7th: 10:00 PM - 4:00 AM Everyone
Designed 10:00 PM - 4:00 AM

Friday, November 8th: 11:00 AM - 11:15 PM Everyone
Designed 11:00 AM - 11:30 AM
Jyotsna 11:30 AM - 12:00 PM
Designed 12:00 PM - 10:45 PM (Some breaks)
Jyotsna (Garv cause laptop broke) 10:45 PM - 11:15 PM

Saturday, November 9th: 11:00 AM - 6:30 PM Everyone
Shreya Varma 11:00 AM - 11:30 AM
Designed 11:30 AM - 2:15 PM
Shreya Varma 2:15 PM - 2:45 PM
Designed 2:45 PM - 6:00 PM
Garv 6:00 PM - 6:30 PM

Sunday, November 10th: 1:00 PM - 4:00 PM Everyone
Clean up style
Garv 3:30 PM - 4:00 PM
