Sunday, October 27th:

Shreya Varma: 7:45 - 8:15, 30 minutes
Garv: 8:15 - 8:45, 30 minutes

Monday, October 28th: 4:30 - 11:30 PM
Designed for many hours

Garv: 7:10 - 7:40, 30 minutes
Shreya Agrawal: 10:15 - 10:45, 30 minutes
Jyotsna: 11:00 - 11:30, 30 minutes

Tuesday, October 29th: 11:30 AM - 12:30 PM

Shreya Agrawal: 11:50 AM - 12:20 PM, 30 minutes