################
TEAM INFO
################
Name1: Garv Kinariwala
EID1: gnk289
CS login: garvki07
Email: garvkinariwala@gmail.com
Unique Number: 50460

Name2: Shreya Agrawal
EID2: sa55827
CS login: shreya18
Email: shreyaagrawal@utexas.edu
Unique Number: 50475

Name3: Jyotsna Arunkumar
EID3: ja48866
CS login: jyotsna
Email: jyotsna.arunkumar@utexas.edu
Unique Number: 50480

Name4: Shreya Varma
EID4: sv28276
CS login: shreya36
Email: shreyavarma99@gmail.com
Unique Number: 50480

Slip days used: 2

################

